:root{
	--black: #000;
	--white: #fff;
	--muddy-brown: #b48f5b;
    --alice-blue: var(--alice-blue);
    --azure: azure;
    --antique-white: var(--antique-white);
    --blanched-almond: var(--blanched-almond);

	--fonts: Inter, Monsterrat, sans-serif;
}
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip:focus{
	position: static;
	width: auto;
	height: auto;
}