/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	--black: #000;
	--white: #fff;
	--muddy-brown: #b48f5b;
  --alice-blue: #f0f8ff;
  --azure: azure;
  --antique-white: #faebd7;
  --blanched-almond: #ffebcd;
  --dark-gray: #a9a9a9;

	--fonts: Inter, Monsterrat, sans-serif;
}
html {
	font-family: var(--fonts);
}
#skip {
  position: absolute;
  left: 50%;
  transform: translateY(-100px);
}
#skip:focus {
  transform: translateY(50px);
  transition: 0.3s;
  padding: 20px;
  background-color: #f33;
  color: #ffffff;
}
header {
  background-color: rgba(101, 147, 245, 20%);
	height: 100px;
}
header img {
	height: 140px;
    margin-left: 40px;
	position: relative;
	top: -17px;
}
nav {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
    top: 30px;
    left: 210px;
}
nav a {
	text-decoration: none;
}
nav ul {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
	flex-direction: row;
  z-index: 1;
}
nav li {
	width:164px;
	color: #1A1A1A;
	display: block;
	padding: 1rem;
	padding-right: 0;
	position: relative;
	text-decoration: none;
	transition-duration: 0.5s;
  }
  nav li a {
	color: #1A1A1A;
  }
  nav li:hover, nav li:focus-within {
	background-color: var(--muddy-brown);
	cursor: pointer;
  }
  nav li:focus-within a {
	outline: none;
  }
  nav ul li ul {
	background-color: var(--antique-white);
	visibility: hidden;
	opacity: 0;
	width: 180px;
	position: absolute;
	margin-top: 1rem;
	left: 0;
	display: none;
	transition: all 0.5s ease-in;
  }
  ul li:hover > ul, ul li:focus-within > ul, ul li ul:hover, ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
  }
  nav div {
	display: flex;
	column-gap: 35px;
	width: 250px;
    position: absolute;
    right: -250px;
	top: 16px;
  }
  div img {
	position: absolute;
    right: 69px;
    height: 25px;
    top: -6px;
  }div img:last-child {
	right: 0;
  }
  div a {
	color: #000;
  }
  main{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
  }
  body {
	background-color: var(--azure);
  }
  h1 {
    font-size: 3em;
    font-weight: bolder;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  section ul {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  section ul li {
	padding: 0.3em;
	width: fit-content;
  }
  section ul li a {
	text-decoration: none;
	color: #000;
  }
  main img {
    height: 35px;
    position: absolute;
    top: 157px;
    left: 555px;
  }
  .number {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--dark-gray);
    position: absolute;
    top: 169px;
    left: 943px;
  }
  .testimonials div {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid;
  }
  .testimonials {
    margin-top: 175px;
  }
  .name {
    font-weight: 600;
    font-size: 1.1em;
    padding: 1em;
  }
  .product {
    color: rgba(96,96,120,85%);
    position: relative;
    left: -80px;
  }
  .date {
    font-size: 0.85em;
    color: rgba(96, 96, 120, 85%);
    padding: 1em;
    margin-left: 300px;
  }
  .testimonials div img {
    height: 20px;
    position: relative;
    top: 35px;
    left: -96px;
  }
  .testimonials div img.product-image {
    height: 150px;
    position: absolute;
    top: 397px;
    left: 225px;
  }
  #image2 {
    top: 783px;
  }
  #image3 {
    top: 976px;
  }
  #image4 {
    top: 1169px;
  }
  #image5 {
    top: 1362px;
  }
  #image6 {
    top: 1555px;
  }
  #image7 {
    top: 590px;
  }
  #image8 {
    top: 1748px;
  }
  #image9 {
    top: 1941px;
  }
  #image10 {
    top: 2134px;
  }
  .title {
    display: block;
    font-weight: 700;
    font-size: 1.05em;
    padding: 1em;
    padding-top: 45px;
  }
  footer {
    display: flex;
    column-gap: 100px;
    background-color: rgba(101, 147, 245, 20%);
    padding-top: 30px;
    padding-bottom: 60px;
    justify-content: center;
  }
  footer span {
    position: absolute;
    bottom: -1790px;
    width: fit-content;
    left: 650px;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 500;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  footer a {
    display: grid;
    color: var(--black);
  }
  footer a:hover {
    color: var(--muddy-brown);
  }
  footer li {
    list-style-type: none;
  }
  footer p a {
    display: inline;
  }
  footer section:last-of-type {
    width: 500px;
  }
  footer ul a:hover {
    text-decoration: underline;
  }
  footer section:first-of-type a {
    padding: 5px;
  }
  footer section:first-of-type a:first-of-type {
    padding-top: 23px;
  }
  footer section:first-of-type p {
    padding-top: 1em;
    padding-left: 4px;
  }
  footer section:last-of-type h3 {
    padding-bottom: 25px;
  }
  footer input, footer button {
    margin-top: 25px;
    padding: 1em;
  }
  footer button {
    margin-left: 20px;
    margin-left: 20px;
    background-color: var(--antique-white);
    border-radius: 6%;
    border-color: var(--antique-white);
  }
  footer button:hover {
    background-color: var(--muddy-brown);
    border-color: var(--muddy-brown);
  }

